// Reset
*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}
input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

// Styles

@font-face {
  font-family: "Valorant";
  src: url(/fonts/Valorant_Font.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon";
  src: url(/fonts/Pokemon_Solid.ttf) format("truetype");
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ef5350;
  padding: 2.5rem;

  .header__logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    max-width: 10rem;
  }

  .header__nav {
    list-style: none;
    a {
      font-family: "Valorant", sans-serif;
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
    }

    li {
      padding: 1rem;
    }

    li:hover {
      background-color: #f44336;
      border-radius: 3rem;
    }
  }
}

// main

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;

  .pokemon__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    .pokemon__card {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "pokemon", sans-serif;
      font-size: 1.5rem;
      background-color: white;
      border-radius: 1rem;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      width: 19rem;
      min-height: 20rem;
      padding: 1.25rem;
      letter-spacing: 5px;
      text-align: center;
      color: #f1c514;
      text-shadow: 0 1px 0px #378ab4, 1px 0 0px #3b4cca, 1px 2px 1px #378ab4,
        2px 1px 1px #3b4cca, 2px 3px 2px #378ab4, 3px 2px 2px #3b4cca,
        3px 4px 2px #378ab4, 4px 3px 3px #3b4cca, 4px 5px 3px #378ab4,
        5px 4px 2px #3b4cca, 5px 6px 2px #378ab4, 6px 5px 2px #3b4cca,
        6px 7px 1px #378ab4, 7px 6px 1px #3b4cca, 7px 8px 0px #378ab4,
        8px 7px 0px #3b4cca;

      img {
        width: 10rem;
      }

      &:hover {
        transform: scale(1.1);
        box-shadow: 10px 7px 60px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }

  .pokemon-button {
    font-family: "Arial", sans-serif;
    background-color: #ffcc00; /* Color amarillo de Pokémon */
    border: 3px solid #3b4cca; /* Color azul de Pokémon */
    border-radius: 10px;
    padding: 10px 20px;
    color: #3b4cca;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 0px #3b4cca;
    position: relative;
    transition: transform 0.1s ease-in-out;
  }

  .pokemon-button:active {
    transform: translateY(4px);
    box-shadow: none;
  }
}
